{% extends 'base-admin.html.twig' %}

{% block title %}Nouveaux Article{% endblock %}

{% block body %}
    
    <a href="{{ path('admin_article_index') }}" class="btn btn-dark mb-3">Retour a la liste </a>
    <h1>Créer un nouvelle Article</h1>

    {{ include('admin_article/_form.html.twig') }}

    
{% endblock %}
