{% extends 'base.html.twig' %}


{% block body %}

{% block title %}
    
	<br>
	<br>
    <br>
	<br>
	<br>
		<h1 class="text-center i ">
			Déclarer un décès
		</h1>
		<hr class="hr3">
	{% endblock %}
    <div class="col-12 col-md-12 mb-5 mt-5 d-flex justify-content-center">
    <img src="{{ asset('images/declaration.jpg')}}" alt="" class="img-fluid">
    </div>

<div class="container-fluid w-100 text-justify">
<h5 class=" text-center ">Qui doit déclarer le décès ? Auprès de quelle instance ? Vous trouverez ici toutes les informations utiles sur cette démarche obligatoire qui doit être faite dans les 24 heures.</h5><hr class="hr2">
<article class="text-center p-5">
La constatation du décès par un médecin puis l’établisssement d’un acte de décès sont deux démarches à entreprendre avant d’avertir tous les organismes concernés (impôts, banque, caisse de retraite…). Selon le cas, c’est la famille ou l’établissement dans lequel résidait la personne qui se chargera de la déclaration du décès. La déclaration peut également être faite par l’entreprise de pompes funèbres à laquelle est confiée l’organisation des obsèques.
Décès survenu en France

<br>
<br>
<h5 class=" text-center mt-4"> Le certificat de décès</h5><hr class="hr3">


Le certificat de décès est l’un des premiers documents à faire établir. Rédigé par le médecin, il est indispensable au bon déroulement des obsèques, cette pièce est indispensable pour autoriser le transfert du défunt par les pompes funèbres.

Le constat de décès doit être réalisé sur les lieux du décès par tout médecin inscrit à l’Ordre des médecins. Le médecin doit être appelé dès que le décès est supposé par la famille, les témoins ou les secouristes.

Le certificat de décès est nécessaire pour déclarer le décès, pour le transport de corps vers une chambre mortuaire ou funéraire, pour effectuer des soins de conservation, et pour la crémation. Il permet également les démarches successorales et le versement des capitaux (assurances-vie).

Une déclaration à faire dans les 24 h

La déclaration de décès est une démarche obligatoire qui doit être faite à la mairie du lieu du décès, dans les 24 heures qui suivent la constatation du décès, hors week-ends et jours fériés. L’officier d’état civil doit toutefois l’enregistrer même si ce délai est dépassé.

<br>
<br>
<h5  class=" text-center mt-4"> Qui doit déclarer en mairie selon les circonstances du décès ? </h5><hr class="hr3">

    Décès à domicile
    Ce sont les proches qui doivent faire la déclaration de décès : un parent ou toute personne possédant sur l’état civil du défunt les renseignements les plus complets possibles (identité, filiation, adresse, profession, situation matrimoniale…). Cette personne doit être munie du certificat médical constatant le décès, d’une pièce d’identité du défunt (livret de famille ou carte d’identité par exemple) et d’une pièce d’identité personnelle.
    Décès à l’hôpital, en maison de retraite
    Si le décès s’est produit en établissement (hôpital, clinique, maison de retraite médicalisée…), c’est le directeur ou l’administrateur de l’établissement qui, dans les 24 heures suivant le décès, effectue directement la déclaration du décès auprès de l’officier d’état civil de la mairie de la commune où il vient d’avoir lieu. Généralement, c’est le médecin de garde qui procède à la constatation du décès.
    Mort violente
    En cas de mort violente (décès accidentel, suicide), la police ou la gendarmerie nationale doit être alertée. Par conséquent, certaines opérations funéraires ne pourront être réalisées qu’après la délivrance d’une autorisation judiciaire (procès-verbal aux fins d’inhumation).
    Il faut savoir qu’une autopsie peut être pratiquée sur un défunt en cas de mort violente ou suspecte, en cas d’accident du travail ou à la demande d’un hôpital public.
    Décès sur la voie publique
    Dans certaines situations, lorsque les causes du décès sont suspectes, les forces de l’ordre se chargent de la déclaration de décès. L’officier de police transmet les éléments de son procès-verbal à l’officier d’état civil du lieu où la personne est décédée. Ce dernier rédige l’acte de décès et informe l’officier d’état civil du domicile de la personne décédée.
<br>
<br>
<h5 class="text-center mt-4">Comment faire la déclaration ?</h5><hr class="hr3">

La personne qui déclare le décès doit se rendre en mairie avec :

    sa pièce d’identité
    si possible, le certificat de décès délivré par le médecin, le commissariat de police ou la gendarmerie
    tout document (si elle en possède) concernant l’identité du défunt : livret de famille, pièce d’identité, ou acte de naissance par exemple

À la suite de la déclaration de décès, la mairie :

    établit un acte de décès.
    transmet l’information à l’Insee qui, par le biais du Répertoire national d’identification des personnes physiques (RNIPP) informe notamment les caisses de retraite.

Pensez à demander plusieurs copies d’acte de déclaration de décès, ils vous seront utiles pour effectuer vos démarches auprès des organismes.

Dès lors que l’acte de décès est inscrit sur le registre d’état civil il sera possible de demander par la suite une copie intégrale d’acte de décès.
Une fois l’acte de décès établi, il appartient à l’officier d’état civil de faire mentionner le décès en marge de l’acte de naissance de la personne décédée et de la faire radier des listes électorales
Décès survenu à l’étranger <br><br>

    Si vous accompagniez le défunt lors de son voyage ou résidence à l’étranger, vous devez déclarer le décès auprès des autorités locales de l’état civil. Un acte de décès local sera alors établi. Il est également souhaitable de faire une déclaration auprès du consulat de France.
    Si le défunt était seul, les autorités locales préviendront le consulat ou l’ambassade de France.
    Si vous apprenez le décès par une agence de voyages, les médias ou tout autre moyen, contactez le centre de crise du ministère de l’Europe et des des affaires étrangères :
    Centre de crise – Ministère en charge des affaires étrangères
    Par téléphone
    +33 (0)1 53 59 11 10
    Numéro d’urgence accessible 7 j / 7 et 24 h / 24
    Par messagerie
    alertes.cdc@diplomatie.gouv.fr
    Par courrier
    37 quai d’Orsay
    75700 Paris SP 07
    <br><br>

Vous pouvez vous adresser aux services consulaires français pour transcrire le décès dans le registre d’état civil français :
Ambassade ou consulat français à l’étranger  

La mention du décès sera ainsi apposée sur l’acte de naissance français du défunt.
Cette transcription n’est pas obligatoire, mais elle est fortement recommandée pour vous permettre d’effectuer certaines démarches (succession, pension de retraite, etc.). Il pourra vous être remis une dizaine de copies d’acte de décès certifiées conformes à l’original.

Par la suite, vous pourrez vous procurer ce document au service central d’état civil à Nantes ou auprès du poste diplomatique et consulaire (voir article Demander la copie intégrale d’un acte de décès) :

Service central d’état civil (Scec) – Ministère des affaires étrangères
État civil (naissance, un mariage ou un décès) d’un Français à l’étranger <br>

Uniquement par courrier à l’adresse suivante :

Service central d’état civil du ministère des affaires étrangères
11, rue de la Maison Blanche
44941 Nantes Cedex 09

Le service n’accueille pas de public.

Vous pouvez aussi utiliser le téléservice.

Pour toute information complémentaire, vous pouvez :

    Consulter le site diplomatie.gouv.fr 
    Téléphoner au 0 826 08 06 04 
    Ouvert du lundi au vendredi de 9 h à 12 h et de 13 h à 16 h
    Numéro violet ou majoré : coût d’un appel vers un numéro fixe + service payant, depuis un téléphone fixe ou mobile
    Pour connaître le tarif, écoutez le message en début d’appel
    Depuis l’étranger, composer le +33 1 41 86 42 47
    Envoyer un mail à courrier.scec@diplomatie.gouv.fr</article>
</div>
    {% endblock %}