{% extends 'base.html.twig' %}


{% block body %}

	{% block title %}
		<br>
		<br>
		<br>
		<br>
        <br>
		<h1 class="text-center i ">Les service funéraire</h1><hr class="hr3">
	{% endblock %}

	<div class="col-12 col-md-12 mb-5 mt-5 d-flex justify-content-center">
		<img src="{{ asset('images/funéraire.jpg')}}" alt="" class="img-fluid">
	</div>

	<section class="container w-75 ">
		<article class="  text-center container">
			Pour organiser les obsèques, il vous faut contacter des entreprises de pompes funèbres. Nous vous invitons à en contacter plusieurs pour comparer les prix. Avant de signer tout contrat, demandez un devis comportant les prestations obligatoires et les prestations facultatives ainsi que leurs prix détaillés. 
			En fonction des dernières volontés du défunt, précisez la façon dont se déroulera l’inhumation ou la crémation : convoi, mise en bière, transport du corps, cérémonies…
									
			En cas de désaccord entre vous et les autres proches du défunt sur les obsèques, vous pouvez saisir le tribunal d’instance.
									
			Si une convention obsèques avait été souscrite, l’entreprise de pompes funèbres a déjà été désignée. À défaut, les proches en choisissent une librement. Dans chaque commune, une liste est disponible en mairie, auprès des établissements de santé ou dans les salles d’accueil des salons funéraires.</article>

		<h5 class="mt-5 text-center">La toilette du défunt</h5><hr class="hr3">
		<article class="  text-justify">La toilette mortuaire fait partie des premières étapes qui suivent un décès. Il s’agit d’une pratique très ancienne qui consiste à laver le corps de la personne décédée. Le but de la toilette mortuaire est de préserver la dignité du défunt mais aussi de lui donner une apparence naturelle afin d’aider les proches à appréhender le deuil de la façon la plus sereine possible.
		</article>


		<h5 class="mt-5 text-center">Qui fait la toilette mortuaire ?</h5><hr class="hr3">
		<article class="  text-justify">Selon le choix exprimé par les proches de la personne décédée, la toilette mortuaire peut être réalisée par:

			<ul><br>
				<li>la famille, les proches du défunt à domicile,</li>
				<li>le personnel soignant (infirmière, aide-soignante) si le décès survient dans un établissement de soins, un hôpital, une maison de retraite,
													un thanatopracteur,</li>
				<li>le personnel d’une chambre mortuaire ou d’une chambre funéraire.</li>
			</ul>
			Si le défunt était de religion juive ou musulmane, la famille pourrait souhaiter que la toilette mortuaire réponde à des rites religieux. La toilette mortuaire peut, dans ce cas, être effectuée par des personnes qualifiées au sein d’une chambre mortuaire, par exemple, un imam pour les musulmans.
									
									Si la famille le souhaite, des soins de conservation peuvent aussi être effectués dans la chambre mortuaire pour retarder l’altération du corps.</article>

		<h5 class="mt-5 text-center">Financement des frais funéraires</h5><hr class="hr3">
		<article class="text-justify">Les frais liés aux obsèques sont à la charge de la famille du défunt. Cependant, celle-ci peut bénéficier d’aides de la sécurité sociale, de la mutuelle du défunt, de sa compagnie d’assurances s’il avait souscrit une assurance-vie ou de sa banque s’il avait une assurance décès.
			
			Vous pouvez demander à prélever les frais relatifs aux obsèques sur le compte bancaire du défunt sur présentation d’une facture, dans la limite de 5 000 €, si son solde le permet.
			Les frais d’obsèques sont une charge prélevée sur l’actif de la succession, avant tout partage. 
			
			Enfin, si le défunt et sa famille sont sans ressource, les obsèques sont à la charge de la municipalité. Dans tous les cas, vous devez avoir conservé la facture établie par l’entreprise de pompes funèbres, ainsi que des copies de l’acte de décès.
			<a href="http://www.lefigaro.fr/conjoncture/2019/02/06/20002-20190206ARTFIG00066-pompes-funebres-l-ouverture-a-la-concurrence-n-a-pas-beaucoup-profite-aux-familles.php" target="_blank" rel="noopener noreferrer"></a>
			En 30 ans, note la Cour des comptes, l’offre de prestations « s’est élargie de manière conséquente »: 3 000 sites offrent désormais un accueil en chambre funéraire, contre 300 en 1993.</article>


		<h5 class="mt-5 text-center">Les soins de conservation</h5><hr class="hr3">
		<article class="  text-justify">Les soins de conservation du corps ont pour but de préserver l’aspect du défunt et de retarder la dégradation du corps (soins dits «thanatopraxiques »). Les soins de conservation ne peuvent pas être imposés aux familles, sauf en vue d’un transport sans mise en bière effectué pour une distance de plus de 600 km. Par ailleurs, les soins de conservation constituent, pour certains pays, une condition nécessaire au rapatriement du corps. Les soins de conservation doivent faire l’objet d’une déclaration écrite préalable faite au maire de la commune où ils sont pratiqués. Ils sont interdits dans certains cas (décès dû à certaines maladies…)</article>

		<h5 class="mt-5 text-center">L’hébergement du corps</h5><hr class="hr3">
		<article class="  text-justify">Si le décès a eu lieu à l’hôpital (90% des cas), dans une clinique ou une maison de retraite, le corps du défunt peut être hébergé gratuitement dans sa chambre mortuaire pendant trois jours, dès lors que le médecin a constaté une mort naturelle. Au-delà de trois jours, il est facturé selon un tarif fixé par le conseil d’administration de l’établissement. La famille peut également choisir de transférer le corps dans une chambre funéraire ou à son domicile.
						
						En cas de décès à domicile la famille peut, si elle a la place et si elle le souhaite, conserver le corps du défunt à domicile. Hormis l’hypothèse d’un décès survenu à la suite d’une maladie contagieuse, rien n’interdit le maintien du corps dans un domicile privé (pendant 6 jours ouvrables au maximum), dès lors que sont prises les précautions nécessaires pour éviter lumière et chaleur dans la pièce où est accueilli le corps du défunt.</article>

		<h5 class="mt-5 text-center">Quelles sont les règles de transport du corps ?</h5><hr class="hr2">
		<article class="  text-justify">Qaund la personne décède dans un autre lieu que son domicile (hôpital maison de retraite, etc.) le transport, pris en charge par les pompes funèbres, est effectué dans un véhicule spécifique. La mise en bière (qui consiste à placer le défunt dans un cercueil) s’avère être déterminante pour le choix du mode de transport.
		</article>

		<h5 class="mt-5 text-center">Les chambres funéraires</h5><hr class="hr3">
		<article class="text-justify">La chambre funéraire (appelée aussi salon funéraire, funérarium, athanée ou maison funéraire) a pour fonction de recevoir le corps de la personne décédée avant l’inhumation ou la crémation. 
			Le séjour en chambre funéraire n’est pas obligatoire, c’est un choix de la famille pour la période qui suit le décès et jusqu’à la cérémonie des obsèques.
			
			Ne pas confondre le funérarium ou chambre funéraire avec la chambre mortuaire(ou la morgue) située au sein d’un hôpital et où le séjour du corps est gratuit pour les 3 premiers jours.
			
			Les familles optent de plus en plus pour une chambre funéraire – il en existe plus de 3 000 en France(1) – plutôt qu’au domicile. Le séjour en chambre funéraire permet de participer au travail de deuil en remplaçant les veillées funèbres. Cet espace offre la possibilité de disposer de salons de présentation des corps permettant aux proches de recevoir les personnes qui souhaitent rendre un dernier hommage au défunt. L’espace est personnalisable, on peut décorer les lieux avec des photos et des fleurs, y diffuser éventuellement de la musique. Avec bien sûr la possibilité de conserver le corps dans une case réfrigérée.
			
			La demande d’admission en chambre funéraire est faite à la mairie du lieu du décès. Le transport et le séjour en chambre funéraire sont payants et à la charge de celui qui les a demandés (famille ou établissement de santé).
			
			Une chambre funéraire peut être publique sous régie municipale ou propriété d’une entreprise de pompes funèbres. Dans les deux cas, les familles peuvent faire appel à l’entreprise de leur choix pour les prestations funéraires, même si elle n’est pas la propriétaire du lieu.</article>

		<h5 class="mt-5 text-center">Comment s’effectue la mise en bière ?</h5><hr class="hr2">

		<article class="text-justify mb-5">L’inhumation ou la crémation sans cercueil étant strictement prohibées, le corps d’une personne décédée doit obligatoirement être mis en bière. Le corps est placé dans un cercueil en bois d’au moins 22 mm d’épaisseur avec une garniture étanche fabriquée dans un maté- riau biodégradable. Le couvercle du cercueil doit être muni d’une plaque gravée indiquant l’année du décès et, s’ils sont connus, l’année de naissance, le prénom, le nom patronymique et, s’il y a lieu, le nom marital du défunt.
			
			La fermeture du cercueil doit être autorisée par l’officier d’état civil du lieu du décès, au vu d’un certificat attestant du décès et que celui-ci ne pose pas de problème médico-légal. Il est procédé à la fermeture définitive, après accomplissement des formalités liées à la déclaration de décès en mairie et l’obtention du permis d’inhumer.</article>

	</section>


{% endblock %}
