@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Philosopher&display=swap");

* {
    margin: 0;
    padding: 0;
}
/* ====================================================== */
/* =================   Constante de couleur ============= */
/* ====================================================== */
:root {
    --bs-orange: rgba(223, 80, 19, 0.824);
    --bs-vert:rgb(76, 169, 157);
    --bs-white: whitesmoke;
}
body {
    font-family: "Aclonica", sans-serif;
}
.container {
    max-width: 100%;
}

.cc-navbar .nav-link {
    color: var(--bs-white)!important;
    border-bottom: 2px solid transparent;
    transition: padding-bottom 0.4s ease-in-out, border-color 0.3s ease;
}
.cc-navbar {
    font-family: philosopher;
    font-size: 1.3rem;
    box-shadow: 1px 10px 8px #df5013a1;
    z-index: 1;
    background-size: cover;
    background-color: #df5013e2;
    opacity: 0.8;
}
.cc-navbar .nav-link:hover {
    padding-bottom: 10px;
    border-bottom: 2px solid;
    border-bottom-color: var(--bs-vert);
}
/* ~~~~~~~~~~~~~ ANIMATE CSS ~~~~~~~~~~~~~ */
.animate__backInLeft {
    color: var(--bs-white);
    --animate-duration: 1.5s;
}
/* ~~~~~~~~~~~~~~~~ TITRE ET IMAGE  ~~~~~~~~~~~~~~~~ */
.navbar-brand {
    font-size: 2rem;
}
.banner {
    width: 100;
    background: url("../images/Photo.jpg") center center fixed no-repeat;
    background-size: cover;
    height: 800px;
}
/*============================================*/
/*============TEXTE CSS ANIMATE ==============*/
/*============================================*/
.banner .banner-desc {
    
    font-size: 40px;
    color: var(--bs-white);
}
/* ====================================================== */
/* ================== ligne-horizontale ================= */
/* ====================================================== */ 
.hr2 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--bs-vert);
    opacity: 0.8;
}
.hr3
{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--bs-vert);
    opacity: 0.8;
}

hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--bs-vert);
    opacity: 0.8;
}

/* ~~~~~~~~~~~~~MOTS GROSSIE~~~~~~~~~~~~~~~~~~ */
strong {
    color: var(--bs-orange);
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
    align-items: center;
    /*text-align: center;*/
    justify-content: center;
}
/* ~~~~~~~~~~~~~~ 1ER TEXTE ~~~~~~~~~~~~~~ */
.pre1 {
    line-height: 220%;
    font-size: 1.3rem;
    text-align: center;
}
/* .pre2{
    text-align: justify;
} */
/* ====================================================== */
/* ============= CUSTOM LI ET ILUSTRATION  ================= */
/* ====================================================== */

/* .exe::before{
    content: "•";
    padding-right: 20px;
    color: var(--bs-vert);
    line-height: 220%;
    
    
} */
/* ====================================================== */
/* ============= LOGO RESEAUX SOCIO ================= */
/* ====================================================== */

.far, .fas
{
    
    font-size: 8rem;
    color: var(--bs-vert);
}
.bg
{
    background-color: var(--bs-orange);
}
.ronded
{
    border-radius: 5%;
}

/* ====================================================== */
/* ===================== NEWSLETTER ===================== */
/* ====================================================== */

.new
{
    background: url("../images/Foret2-flou.jpg") center center fixed no-repeat;
    color: var(--bs-white);
    padding: 40px;
}

/* ====================================================== */
/* ===================== NFOOTER ===================== */
/* ====================================================== */

footer
{
    
    background-color: var(--bs-vert);
    border-top-left-radius: 4rem;
}

