{% extends 'base-admin.html.twig' %}

{% block title %}Nouvelle Association
{% endblock %}

{% block body %}

	<a href="{{ path('admin_association_index') }}" class="btn btn-dark mb-3">Retour a la liste
	</a>
	<h1>Créer une nouvelle Association</h1>

	{{ include('admin_association/_form.html.twig') }}


{% endblock %}
