<form method="post" action="{{ path('admin_citasion_delete', {'id': citasion.id}) }}" onsubmit="return confirm('êtes vous sûr de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ citasion.id) }}">
    <button class="btn btn-danger mt-3"><i class="align-middle" data-feather="trash-2"></i></button>
</form>
