{% extends 'base.html.twig' %}

{% block title %}Ajout Articles {% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
	{% for message in app.session.flashBag.get('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	{% for message in app.session.flashBag.get('error') %}
		<div class="alert alert-error">
			{{ message }}
		</div>
	{% endfor %}
    {#formulaire AjoutArticle#}
	{{form(form)}}{% endblock %}

	
