{% extends 'base.html.twig' %}

{% block title%}
	{{ article.titre }}
{% endblock %}


{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
	<div class="container text-center">
		<h1>{{ article.titre }}</h1>
		<div class="row">
			<div class="col-12 col-md-12 ">
                <img src="{{ asset('images/' ~ article.imagePath )}}" alt="" class="img-fluid">
            </div>
            <div class="col-12 col-md-12 text-center">
                {{ article.description|raw }}
            </div>
		</div>
	</div>
{% endblock %}
