{% extends 'base.html.twig' %}

{% block title %}Liste Articles{% endblock %}



{% block body %}
<div class="container">

<table class="table table-striped">
<h1>Liste Articles</h1>
{% for articles in article %}
<p>{{article.titre}}</p>
<br>
<p>{{article.description}}</p>
<br>
<p>{{ asset('images/' ~ article.imagePath)}}</p>
{% endfor %}

</table>



</div>

{% endblock %}
